@model List<MovieViewModel>
@{
    ViewData["Title"] = "Phim hoạt hình theo thể loại";
}
<div class="new-update mt-4">
    <a asp-controller="Home" asp-action="Index">Mới Cập Nhật</a>
</div>
<div class="row mt-3" style="box-sizing: border-box !important">
    @foreach (var item in Model)
    {
        <div class="product">
            <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.MovieId" class="pr-2">
                <img src="~/images/@item.ImageOfVideo" />
                <div>
                    <img src="~/images/overlays-video.png" class="overlay" />
                </div>
                <p class="pr-2">@item.MovieName</p>
            </a>
        </div>
    }
</div>
