@model CreateCategoryViewModel
@{
    ViewBag.Title = "Thêm Thể Loại Phim";
}
<h5><a asp-controller="Category" asp-action="Index" class="text-dark">Danh Sách Thể Loại Phim</a> &gt; @ViewBag.Title</h5>
<form asp-controller="Category" asp-action="Create" method="post" class="mt-2">
    <div class="row">
        <div class="col-sm-2 form-group">
            <label asp-for="categoryName"></label>
        </div>
        <div class="col-sm-10 form-group">
            <input type="text" asp-for="categoryName" class="form-control" />
            <span asp-validation-for="categoryName" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-2 form-group">
            
        </div>
        <div class="col-sm-10 form-group">
            <button type="submit" class="btn btn-primary btnn">Thêm</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-warning btnn">Trở Lại</a>
        </div>
    </div>
</form>