@model EditCategoryViewModel
@{
    ViewBag.Title = "Edit Category";
}
<h3><a asp-controller="Category" asp-action="Index" class="text-dark">Category Management</a> &gt; @ViewBag.Title</h3>
<form asp-controller="Category" asp-action="Edit" method="post" class="mt-2">
    <input hidden asp-for="CategoryId"/>
    <div class="row">
        <div class="col-sm-2 form-group">
            <label asp-for="categoryName"></label>
        </div>
        <div class="col-sm-10 form-group">
            <input type="text" asp-for="categoryName" class="form-control" />
            <span asp-validation-for="categoryName" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-2 form-group">

        </div>
        <div class="col-sm-10 form-group">
            <button type="submit" class="btn btn-primary btnn">Update</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-warning btnn">Back</a>
        </div>
    </div>
</form>