header {
    background: #21222f;
}
header nav{
    line-height: 40px;
}
.logo {
    font-size: 30px !important;
    color: red !important;
    text-shadow: 1px 1px #fff !important;
}
.logo:first-letter{
    font-size: 40px !important;
}
.logo:hover {
    color: red !important;
}
div ul{
    width: 50%;
}
div ul .input-group.md-form.form-sm.form-2 input[type="text"] {
    border: 2px solid #009688 !important;
    outline: 0 !important;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 50%;
}
div ul .input-group.md-form.form-sm.form-2 span {
    border: 2px solid #009688 !important;
    outline: 0 !important;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
#nav-menu{
    background: #314241;
    padding: 0 !important;
    height: auto;
}
#nav-menu #menu #menu-item{
    width: 100%;
}
#nav-menu #menu #menu-item li {
    position: relative;
    width: auto;
    list-style: none !important;
    text-align: center;
    padding: 7px 15px;
    border-right: 1px solid #090909;
}
#nav-menu #menu #menu-item li a {
    color: white !important;
}
#menu li a:hover {
    text-decoration: none !important;
}
#menu li:hover {
    background-color: #009688;
    transition: all 0.4s ease-in;
}
#nav-menu #menu #menu-item .sub-menu {
    position: absolute;
    background: #314241;
    left: 0;
    width: 150px;
    display: none;
    padding: 0 !important;
    top: 53px;
    z-index: 1;
}
#nav-menu #menu #menu-item .sub-menu > li {
    float: left !important;
    margin-left: 0 !important;
    text-align: left;
    padding-left: 10px !important;
    transition: all 0.4s ease-in;
    width: 100%;
}
#nav-menu #menu #menu-item li:hover > .sub-menu {
    display: block;
}
#nav-menu #menu #menu-item li > .sub-menu li:hover {
    background-color: #074072;
}

#category{
    color: white;
}
#category a {
    display: block;
    padding-left: 5px;
    line-height: 35px;
    color: #9d9d9d;
    border-bottom: 1px solid #009688;
}
#category a:hover{
    text-decoration: none;
    color:white;
}

#footer {
    line-height: 30px;
    background: #1e262d;
}
@media screen and (max-width: 768px){
    #nav-menu #menu #menu-item li{
        border-right: 0 !important;
    }
    #nav-menu #menu #menu-item .sub-menu {
        width: 100% !important;
        z-index: 1;
    }
    #nav-menu #menu #menu-item .sub-menu > li{
        width: 100% !important;
        text-align: center;
        z-index: 1;
    }
}