@model EditEpisodeViewModel
@inject AppDbContext context
@{
    ViewBag.Title = "Chỉnh sửa phim";
    var movies = ViewBag.movies as List<Movies>;
}
<div class="container">
    <form  asp-controller="Episode" asp-action="Edit" method="post" class="mt-2">
        <input hidden asp-for="EpisodeId" />
        <input hidden asp-for="VideoPath" />
        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="_MovieId"></label>
            </div>
            <div class="col-sm-10 form-group">
                <select class="form-control" asp-for="_MovieId">
                    @foreach (var item in movies)
                    {
                        <option value="@item.MovieId" selected="@(item.MovieId == Model._MovieId)">@item.MovieName</option>
                    }
                </select>
                <span asp-validation-for="_MovieId" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="EpisodeCode"></label>
            </div>
            <div class="col-sm-10 form-group">
                <input type="text" asp-for="EpisodeCode" class="form-control" />
                <span asp-validation-for="EpisodeCode" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="EpisodeMovie"></label>
            </div>
            <div class="col-sm-10 form-group">
                <input type="text" asp-for="EpisodeMovie" class="form-control" />
                <span asp-validation-for="EpisodeMovie" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 form-group">
                <label asp-for="DateTime"></label>
            </div>
            <div class="col-10">
                <input class="form-control" type="datetime-local" asp-for="DateTime">
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 form-group">
                <label asp-for="VideoPath"></label>
            </div>
            <div class="col-sm-10 form-group">
                <input type="text" asp-for="VideoPath" class="form-control" />
                <span asp-validation-for="VideoPath" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group">

            </div>
            <div class="col-sm-10 form-group">
                <button type="submit" class="btn btn-primary btnn">Cập Nhật</button>
                <a asp-controller="Episode" asp-action="Index" class="btn btn-warning btnn">Trở Lại</a>
            </div>
        </div>
    </form>
</div>
